html,
body {
  font-size: 18px;
  font-family: Noto Sans;
  color: #595959;
}
p {
    padding: 0px;
    marging: 0px;
}
ul, li {
  max-height : 120px;
  overflow-y : auto;
}
ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
li {
  font-size: 14px;
  cursor: pointer;
  width: 100%;
  padding-left: 0px;
  list-style-type: none;
  align: left;
  display: block;
}
li:hover{
  color: #DCDCDC;
  background-color:  #36454F;
  box-shadow:0 8px 16px 0 rgba(0,0,0,0.6);
}
textarea {
 max-height: 180px;
 max-width: 280px;
 min-height: 80px;
 min-width: 260px;
}
input[type=text] {
  padding: 12px;
  margin: 10px 0;
  box-sizing: border-box;
  text-align: center;
}
h3, h4 {
  margin: 1px;
  padding: 1px;
}
.start_letter{
  width: 30px;
}
.selected {
  font-weight: bolder;
}
#content {
  position: relative;
  width: 80%;
  display: block;
}
#form {
  position: relative;
  width: 60%;
  padding: 20px;
  justify-content:space-around;
  display: flex; //block;//
}
#logs {
  width: 80%;
  position: relative;
  max-height: 450px;
  font-family: Noto Sans Mono;
  font-size: 14px;
  display: block;
  overflow-y : auto;
}
.logs_id {
  width: 40px;
  display: inline-block;
}
.logs_offset {
  width: 60px;
  display: inline-block;
}

#actions {
  padding: 5px;
  margin: 5px;
  position: relative;
  display: table;
  justify-content: center;
}

#navigation {
  position: fixed;
  top: 0px;
  right: 0px;
  width:320px;
  text-align: left;
  //padding: 5px;
}

button  {
  background-color: transparent;
  color: #36454F;
  border-width: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  list-style: none;
  margin: 8;
  padding: 6px 8px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 120px;
}
button:hover:enabled {
    color: #DCDCDC;
    background-color:  #36454F;
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.6);
}
button:disabled,
button:disabled:hover,
button[disabled]{
  box-shadow:0 0px 0px 0 rgba(0,0,0,0.0);
  border: 0px;
  background-color: #transparent;
  color: #efefef;
}
.watermark {
    color: #818589;
    position: absolute;
    opacity: 0.25;
    font-size: 4em;
    width: 100%;
    text-align: left;
    z-index: 1000;
    right: 0px;
    bottom: 0px;
    z-index: 0;
    font-family: Noto Sans Black;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #71797E;
  color: #efefef;
  text-align: center;
  z-index: 0;
  font-size: 10px;
  font-family: Noto Sans Mono;
}

@media (max-width:1024px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
  body, main, #main { grid: initial; display: flow;}
  #content  {grid-area: 1 / span 6; top: auto;}
  #logs { grid-area: 2 / span 1 }
   .navigation { grid-area: 1 / span 2; }
}
